.about{
    color:#34252f;
    background-color: #e8c4a6;
    border: 3px solid #34252f;
    font-size: 25px;
}

.about h1{
    text-transform:uppercase;
    text-align: center;
    padding: 7px;
}
.emailbtn{
    border-radius: 40% 40% 0% 0% !important;
}

button.emailbtn:hover{
    background-color:#607466 ;
}