.prod-cart{
    background-color: #e8c4a6;
    text-transform: capitalize;
    color: #34252f;
    display: flex;
    height: 100px;
    border-bottom:5px solid #34252f;
}
.prod-cart img{
    width: 0%;
    flex:1
}
.prod-cart h5{
    flex:3
}
label{
    margin-right: 10px;
}