/* product img ,cnt ,ttl */
.prod-cart{
    border:2px solid #34252f;
    background-color: #e8c4a6;
    color: #34252f;
    text-transform: capitalize;
    flex-direction: column;
    flex: 15%;
    margin: .5px;
}


/* img*/
.img{
    margin: 10px 10px;
}
.img img{
    height: 100px;
    width: 100px;
    object-fit: cover;
}


/* cnt */
.cnt h5{
    font-size: 22px;
}


/* ttl */
.pay{
    text-decoration: underline;
    text-underline-offset:2px;
}